.anmeldelse{
    padding: 5vh;
    background: var(--dark-blue);
    color: white;
    text-align: center;
}

.anmeldelse h1{
    font-size: 12vw;
}

.anmeldelse h2{
    font-size: 7vw;
    margin-bottom: 20px;
}

.anmeldelse p{
    font-size: 5vw;
}

@media only screen and (min-width: 800px) {
    .anmeldelse h1 {
        font-size: 80px;
    }
    
    .anmeldelse h2 {
        font-size: 40px;
    }
    
    .anmeldelse p {
        font-size: 40px;
}
